<a href="https://colab.research.google.com/github/kimjinwook20/NLP_2024/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if 4 in [1,2,3,4]:
  print("4가 있습니다")

4가 있습니다

In [ ]:
a=3
b=5
print(a+b)
print(a**b)
print(a//b)
print(a-b-b)

8
243
0
-7

In [ ]:
a = "clssical"
b = "science"
print(a)
print(b)

clssical
science

In [ ]:
summary={'score':1,'sc2pe':2}
print(summary['score'])

1

In [ ]:
use='I want 2percent drink'
print(use[0])

print(use[2])
print(use[3])
print(use[4])
print(use[5])
print(use[6])
print(use[7])
print(use[8])
print(use[9])
print(use[10])
print(use[11])
print(use[12])
print(use[13])

I
w
a
n
t

2
p
e
r
c
e
n

In [ ]:
use='I want 2percent drink'

print(use[-1])
print(use[-2])
print(use[-3])
print(use[-4])
print(use[-5])
print(use[-6])
print(use[-7])
print('\n')
print(use[-8])
print(use[-9])
print(use[-10])
print(use[-11])
print(use[-12])
print(use[-13])

k
n
i
r
d

t


n
e
c
r
e
p

In [ ]:
kenshi=(1,2,[3,4,5,6])
print(kenshi[2][3])
print(kenshi[1])
print(kenshi[2][-3])

6
2
4

In [ ]:
list= 'creepy nuts good singer'
print(list[:2])
print(list[2:5])
print(list[-3:-5])
print(list[:])

cr
eep

creepy nuts good singer

In [ ]:
a="life is too short, you need python"
b =a[0]+a[1]+a[2]+a[3]
print(b)
print(a[0:4])
print(a[0:3])
print(a[19:-7])

life
life
lif
you need

In [ ]:
a='20010331rainy'
date =(a[:8])

In [ ]:
a= "I eat %d apples." % 3
print(a)

I eat 3 apples.

In [ ]:
number = 10
day ="three"
a="I ate %d apples. so I was sick for %s days." %(number,day)
print(a)

I ate 10 apples. so I was sick for three days.

In [ ]:
a="clash of {0} clans".format(500)
print(a)

clash of 500 clans

In [ ]:
a="{0:>10}".format("hi")
print(a)

        hi

In [ ]:
a =['a','c','b']
a.reverse()
print(a)

['b', 'c', 'a']

In [ ]:
money = true
if money:
  print("외식을 할 수 있다")
else :
  print("집에서 먹어야 한다")

print("외식을 할 수 있다")

NameError: name 'true' is not defined

In [ ]:
p=200
o=300
if p>o:
  print('p plus o')
else:
  print('p minus o')

p minus o

In [ ]:
p=500
o=100
k=50
if p>o and o>k:
  print('like')
if o<k :
  print('ok')
else :
  print('none')

like
none

In [ ]:
superdata = ['korea','japen','england']
if 'korea' not in superdata:
  print('korea is best')
else:
  print('oh no korea..')

oh no korea..

In [ ]:
sounds = ('beat','melody','eletronic','')
bass = True
if 'voice' in sounds:
  print('perfect sounds')
else:
  if bass:
    print('sounds excellent')
  else:
    print('sounds terrible')

sounds excellent

In [ ]:
score = 55
if score>=60:
  message ='return test'
else:
  message ='none test'

In [ ]:
treeHit = 10
while treeHit < 10:
  treehit = treehit + 1
  print('나무를 %d번 찍었습니다'%treeHit)
  if treeHit == 10:
    print("나무 넘어갑니다.")

In [ ]:
import re
text = 'use,course,sense,nose,worse'
pattern = r'.se'
matches = re.findall(pattern,text)
for K in matches:
  print('match:',K)

match: use
match: rse
match: ,se
match: nse
match: ose
match: rse

##**1.chapter** <font color='yellow'>계산하기

In [1]:
a=15
b=30
print(a+b)
print(a-b)
print(a*b)

45
-15
450

In [2]:
n=-20
m=-56
print(a-b)

-15

##__chapter 2. 괄호 튜플 리스트 ___

In [12]:
list=30
print(list)
string=('a','b','c')
print(string)
print('\n')
y="demonstrate"
print(y)
night ={'a':1,'b':2,'c':3}
print(night)
print(night['a'])
tuple=

30
('a', 'b', 'c')


demonstrate
{'a': 1, 'b': 2, 'c': 3}
1

##*****chapter3:<font color=skyblue> 숫자 배열 맞추기*****

In [14]:
list= 'he is singer'
print(list)

print(list[0])
print(list[1])
print(list[2])
print(list[-2])
print(list[-1])
print(list[0])
print('\n')
print(list[:])
print(list[2:])
print(list[:-5])
print(list[::2])

he is singer
h
e

e
r
h


he is singer
 is singer
he is s
h ssne

In [16]:
a=['1','2',('3','4','5')]
print(a[0])
print(a[1])
print(a[-1][2])

1
2
5

In [23]:
stedata1= 'wa' ; stedata2= 'sans!' ; stedata3= ' '
print(stedata1 +stedata3+ stedata2*5)

wa sans!sans!sans!sans!sans!

##**chapter4. if for data**

In [28]:
a=50
b=1000
if a<b:
  print('music')
else:
  print('art')

music

In [29]:
a = ('music','bass','drum','guitar','melody')
if 'drum' in a:
  print('bounce')
else:
  print('effect')

bounce

In [30]:
cooperate=('demon sound')
for a in cooperate:
  print(a)

d
e
m
o
n

s
o
u
n
d

In [36]:
for a in range(30):
  print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29