<a href="https://colab.research.google.com/github/kimjinwook20/NLP_2024/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if 4 in [1,2,3,4]:
  print("4가 있습니다")

4가 있습니다

In [ ]:
a=3
b=5
print(a+b)
print(a**b)
print(a//b)
print(a-b-b)

8
243
0
-7

In [ ]:
a = "clssical"
b = "science"
print(a)
print(b)

clssical
science

In [ ]:
summary={'score':1,'sc2pe':2}
print(summary['score'])

1

In [ ]:
a=['a','b','c']
a.reverse()
print(a)

['c', 'b', 'a']

In [ ]:
s1= set([1,2,3])
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [ ]:
s1=set([1,2,3])
s1.remove(2)
print(s1)

{1, 3}

In [ ]:
use='I want 2percent drink'
print(use[0])

print(use[2])
print(use[3])
print(use[4])
print(use[5])
print(use[6])
print(use[7])
print(use[8])
print(use[9])
print(use[10])
print(use[11])
print(use[12])
print(use[13])

I
w
a
n
t

2
p
e
r
c
e
n

In [1]:
1==1

True

In [2]:
def add_and_mul(a,b):
  return a+b
  return a*b

In [5]:
result = add_and_mul(2,3)
print(result)

5

In [7]:
def say_myself(name,old,man=True):
  print("나의 이름은 %s입니다."%name)
  print("나이는 %d살입니다."%old)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

In [ ]:
use='I want 2percent drink'

print(use[-1])
print(use[-2])
print(use[-3])
print(use[-4])
print(use[-5])
print(use[-6])
print(use[-7])
print('\n')
print(use[-8])
print(use[-9])
print(use[-10])
print(use[-11])
print(use[-12])
print(use[-13])

k
n
i
r
d

t


n
e
c
r
e
p

In [ ]:
kenshi=(1,2,[3,4,5,6])
print(kenshi[2][3])
print(kenshi[1])
print(kenshi[2][-3])

6
2
4

In [ ]:
list= 'creepy nuts good singer'
print(list[:2])
print(list[2:5])
print(list[-3:-5])
print(list[:])

cr
eep

creepy nuts good singer

In [ ]:
a="life is too short, you need python"
b =a[0]+a[1]+a[2]+a[3]
print(b)
print(a[0:4])
print(a[0:3])
print(a[19:-7])

life
life
lif
you need

In [ ]:
a='20010331rainy'
date =(a[:8])

In [ ]:
a= "I eat %d apples." % 3
print(a)

I eat 3 apples.

In [ ]:
number = 10
day ="three"
a="I ate %d apples. so I was sick for %s days." %(number,day)
print(a)

I ate 10 apples. so I was sick for three days.

In [ ]:
a="clash of {0} clans".format(500)
print(a)

clash of 500 clans

In [ ]:
a="{0:>10}".format("hi")
print(a)

        hi

In [ ]:
a =['a','c','b']
a.reverse()
print(a)

['b', 'c', 'a']

In [ ]:
money = true
if money:
  print("외식을 할 수 있다")
else :
  print("집에서 먹어야 한다")

print("외식을 할 수 있다")

NameError: name 'true' is not defined

In [ ]:
p=200
o=300
if p>o:
  print('p plus o')
else:
  print('p minus o')

p minus o

In [ ]:
p=500
o=100
k=50
if p>o and o>k:
  print('like')
if o<k :
  print('ok')
else :
  print('none')

like
none

In [ ]:
a=0
while a<10:
  a=a+1
  if a %2==0:continue
  print(a)

1
3
5
7
9

In [ ]:
def add(a,b):
  return a+b

In [ ]:
superdata = ['korea','japen','england']
if 'korea' not in superdata:
  print('korea is best')
else:
  print('oh no korea..')

oh no korea..

In [ ]:
sounds = ('beat','melody','eletronic','')
bass = True
if 'voice' in sounds:
  print('perfect sounds')
else:
  if bass:
    print('sounds excellent')
  else:
    print('sounds terrible')

sounds excellent

In [ ]:
marks=[90,25,67,45,80]
number = 0
for mark in marks:
  number = number+1
  if mark<60:
    continue
    print("%d번 학생 축하합니다.합격입니다" % number)

In [ ]:
add = 0
for i in range (1,11):
  add= add+i
print(add)

55

In [ ]:
a=[1,2,3,4]
result=[]
for num in a:
  result.append(num*3)
print(result)

[3, 6, 9, 12]

In [ ]:
a=[1,2,3,4]
result=[num*3 for num in a if num %2==0]

print(result)

[6, 12]

In [ ]:
result = [x*y for x in range(2,10) for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [ ]:
s1=set("hello")
print(s1)

{'o', 'l', 'e', 'h'}

In [ ]:
a=[1,2,3]
a.pop()
print(a)

[1, 2]

In [ ]:
score = 55
if score>=60:
  message ='return test'
else:
  message ='none test'

In [ ]:
treeHit = 10
while treeHit < 10:
  treehit = treehit + 1
  print('나무를 %d번 찍었습니다'%treeHit)
  if treeHit == 10:
    print("나무 넘어갑니다.")

In [ ]:
f'{"hi":<10}'
f'{"hi":>10}'
f'{"hi":^10}'

'    hi    '

In [ ]:
import re
text = 'use,course,sense,nose,worse'
pattern = r'.se'
matches = re.findall(pattern,text)
for K in matches:
  print('match:',K)

match: use
match: rse
match: ,se
match: nse
match: ose
match: rse

In [ ]:
use someone

##**1.chapter** <font color='yellow'>계산하기

In [ ]:
a=15
b=30
print(a+b)
print(a-b)
print(a*b)

45
-15
450

In [ ]:
n=-20
m=-56
print(a-b)

-15

##__chapter 2. 괄호 튜플 리스트 ___

In [ ]:
list=30
print(list)
string=('a','b','c')
print(string)
print('\n')
y="demonstrate"
print(y)
night ={'a':1,'b':2,'c':3}
print(night)
print(night['a'])
tuple=

30
('a', 'b', 'c')


demonstrate
{'a': 1, 'b': 2, 'c': 3}
1

##*****chapter3:<font color=skyblue> 숫자 배열 맞추기*****

In [ ]:
list= 'he is singer'
print(list)

print(list[0])
print(list[1])
print(list[2])
print(list[-2])
print(list[-1])
print(list[0])
print('\n')
print(list[:])
print(list[1:])
print(list[:-5])
print(list[::2])

he is singer
h
e

e
r
h


he is singer
e is singer
he is s
h ssne

In [ ]:
a=['1','2',('3','4','5')]
print(a[0])
print(a[1])
print(a[-1][2])

1
2
5

In [ ]:
str='revolution'
print(len(str))

10

In [ ]:
stedata1= 'wa' ; stedata2= 'sans!' ; stedata3= ' '
print(stedata1 +stedata3+ stedata2*5)

wa sans!sans!sans!sans!sans!

##**chapter4. if for data**

In [ ]:
a=50
b=1000
if a<b:
  print('music')
else:
  print('art')

music

In [ ]:
a = ('music','bass','drum','guitar','melody')
if 'drum' in a:
  print('bounce')
else:
  print('effect')

bounce

In [ ]:
cooperate=('demon sound')
for a in cooperate:
  print(a)

d
e
m
o
n

s
o
u
n
d

In [ ]:
for a in range(30):
  print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [ ]:
a=20
b=30
if a>b:
  print('yoo')
else:
  print('nice')

nice

In [ ]:
a=('super','hero','vaundy')
if 'super' in a:
  print('good winner')

good winner

In [ ]:
a='vaundy little bitter'
for k in a:
  print(k)

v
a
u
n
d
y

l
i
t
t
l
e

b
i
t
t
e
r

In [ ]:
for a in range(50):
  print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [ ]:
kenshi =['lemon','loser','flamingo','kanden']
for a in kenshi:
  print(a)

lemon
loser
flamingo
kanden

In [ ]:
listdata=(1,2,3,4,5,6,7,,8,9)
for i in listdata:
  print(i)
  if i<7:
    continue
  else:
    break

1
2
3
4
5
6
7

##__chapter5. <font color='skyblue'>추출 </font>import__

In [ ]:
import re
text= ('math,death,south,north,theory')
pattern=r"a*th"

matches = re.findall(pattern,text)

for a in matches:
  print(a)

ath
ath
th
th
th

In [ ]:
import re
text='color or colour?'
pattern=r'color?'
matches = re.findall(pattern,text)
for a in matches:
  print(a)

color
colo

In [ ]:
import re
text8="he buys a classical book."
pattern=r'classical book.$'
matches=re.findall(pattern,text8)
for h in matches:
  print(h)

classical book.

In [ ]:
import re
text='$1248979865189469865696534865'
pattern=r'[234567890]'
matches=re.findall(pattern,text)
for O in matches:
  print("숫자:",O)

숫자: 2
숫자: 4
숫자: 8
숫자: 9
숫자: 7
숫자: 9
숫자: 8
숫자: 6
숫자: 5
숫자: 8
숫자: 9
숫자: 4
숫자: 6
숫자: 9
숫자: 8
숫자: 6
숫자: 5
숫자: 6
숫자: 9
숫자: 6
숫자: 5
숫자: 3
숫자: 4
숫자: 8
숫자: 6
숫자: 5

In [ ]:
import re
text='I want creepy nuts music'
pattern="[^want]"
matches=re.findall(pattern,text)
for U in matches:
  print('super:',U)

super: I
super:
super:
super: c
super: r
super: e
super: e
super: p
super: y
super:
super: u
super: s
super:
super: m
super: u
super: s
super: i
super: c